# --- Python cache ---
__pycache__/
*.pyc

# --- Virtual environment ---
.venv/
.env/

# --- Data & temp outputs ---
data_pipeline/data/
data_pipeline/logs/
qdrant_storage/
*.json
*.jsonl
*.csv
*.gz
*.zip
*.tar
*.xml
*.jpg
*.png
*.tif
*.pdf

# --- IDEs ---
.idea/
.vscode/
*.iml
